$truckoo-blue-10: #EBF0F3;
$truckoo-blue-20: #D6E0E5;
$truckoo-blue-40: #ADC1CB;
$truckoo-blue-60: #85A3B2;
$truckoo-blue-80: #5C8498;
$truckoo-blue-100: #33657E;
$truckoo-yellow: #FAE100;
$truckoo-dark-blue: #002334;
$error: rgb(184, 6, 6);